/* #page .floatBox { 
  position: fixed;
  z-index: 5;
  bottom: 12px;
  right: 10px;
  display: flex;
  flex-direction: column;
}

#footer-float .floatBox {
  position: relative;
  float: right;
  z-index: 5;
  right: 10px;
  top: 25px;
  display: flex;
  flex-direction: column;
}

#ex-hd .floatBox {
  visibility: hidden;
  animation: none;
}

.floatBox .floatBtn {
  padding: 0px;
  border-radius: 100%;
  background-color: #fff;
  opacity: 0.85;
}

.floatBox .floatBtn:hover {
  opacity: 0.95;
}

.floatBox .floatBtn:hover .float-btn {
  opacity: 1;
}

.floatBox .floatTop {
  margin-bottom: 4px;
}*/
.button {
  font-size: 12px;
}

.button>.header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}

.button>.content {
  width: 100%;
  padding: 10px 5px;
}

.button>.actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}

.button>.close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}